.popup {
  background-color: #ffffff; /* белый фон */
  padding: 1em; /* внутренний отступ */
  border-radius: 8px; /* скругленные углы */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тень */
}

.filter-inputs {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.filter-input {
  flex: 1 0 calc(33.333% - 5px);
}
.filter-options {
  width: 100%;
}
.filter-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.preview-container {
  margin-top: 1em;
  display: flex;
}
