.container {
  margin: 0 2%;
  background-color: #f0f0f0;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #e0e0e0;
}
.menu-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin: 1em 0;
  /* background-color: #d0d0d0; */
}
.work-panel {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 90%;
  background-color: #d8d4d4;
}
.img-view {
  overflow: auto;
  /* scrollbar-width: 1px; */
  width: 100%;
  display: flex;
  /* background-color: #b0b0b0; */
}
.canvas {
  margin: auto;
}
.color-info {
  display: flex;
  align-items: center;
  gap: 4px;
}
.color {
  border: 1px solid grey;
  width: 20px;
  height: 20px;
}
.img-info {
  padding-left: 5px;
  padding-right: 10px;
  width: 250px;
  /* background-color: #b0b0b0; */
}
/* .upload {
  margin: 1em 0;
} */
